body {
  margin: 0;
  font-family: "Smythe", cursive;
}

header {
  background-image: url(./images/bg.png);
  height: 160px;
  color: #fff;
}
.container {
  width: 600px;
  margin: 0 auto;
}

header h1,
header p {
  margin: 0;
  padding-left: 4%;
}

header h1 {
  font-size: 2.6em;
  padding-top: 3%;
}

header p {
  font-size: 1.2em;
  padding-top: 1%;
}

#main-container,
#order-review {
  width: 80%;
  margin: 0 auto;
}

#order-review {
  text-align: center;
}

#order-total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#order-total h3 {
  font-size: 27px;
  margin: 0;
  padding: 10px 0;
}

#order-total h4 {
  font-size: 25px;
  margin: 0;
}

#order-review h2 {
  font-size: 30px;
}

.order-review-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.order-review-data span {
  position: absolute;
  left: 23%;
  top: 30%;
  font-size: 13px;
  color: #bbbbbb;
  cursor: pointer;
}

.order-review-data h3 {
  font-size: 27px;
  margin: 0;
  margin-right: 20px;
}

.order-review-data h4 {
  font-size: 18px;
  margin: 0;
  margin-right: 20px;
}

.order-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.order-item span {
  display: inline-block;
  height: 100%;
  font-size: 3.5em;
}

.order-details {
  flex: 2;
  margin-left: 20px;
}

.order-details h2,
.order-details h3,
.order-details p {
  margin: 0;
}

.order-details p {
  margin: 5px 0;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 500;
}

.order-item button {
  color: #3c3c3c;
  font-size: 1.4em;
  border-radius: 100%;
  border: 0.2px solid #8b8b8b;
  height: 100%;
  padding: 10px;
  width: auto;
  background: none;
  margin: auto 0;
  cursor: pointer;
}

#complete-order-btn  {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  border: none;
  background-color: #16db99;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

#complete-order-btn:hover {
  background-color: #0de89f;
  color: #3c3c3c;
}
